body{
    background-color: #1C1C1C; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 95vh;
    font-size: 16px;
}

:root{
    --switch-height: .5em;
    --switch-width: 1.5em;
    --bg-main: #1c1c1c;
    --bg-display: #1F2937;
    --green-text: #4adf86;
    --green-buttons: #10B981;
    --green-password: #55F991;
    --accent-grey: #273549;

}

#container{
    width: 450px;
    background-color: var(--bg-display); 
    padding: 40px 40px;
}

/* ===== TYPOGRAPHY ===== */

#heading{
    margin-bottom: 0;
    color: white;
}
#subheading{
    margin-top: 1px;
    margin-bottom: 1px;
    color: var(--green-text);
}

#supporting{
    margin-top: 2px;
    color: #f0f0f0;
    font-size: small;
    font-weight: lighter;
}

/* ===== BUTTONS ===== */
.btn-passwords{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: var(--green-buttons);
    border: none;
    border-radius: 3px;
    color: white;    
}
.btn-red{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: white;    
}

/* ===== PASSWORD CONTAINERS ===== */

#password-container{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 25px;
    border-top: 1px solid #b4b8bd;
}

@media screen {
    
}

.password-display{
    min-width: 211px;
    min-height: 39px;
    color: var(--green-password);
    border-radius: 5px;
    background-color: var(--accent-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===== SETTINGS FORM ===== */
.form-popup{
    display: none;
    /* position: fixed;
    bottom: 0;
    right: 15px; */
    border: 1px solid white;
    padding: 1em;
    background-color: var(--accent-grey);
    color: white;
    line-height: 2;
    backdrop-filter: blur();
}

input[type = number]{
   width: 3em;
   border: 1px solid white;
   background-color: var(--accent-grey);
   color: white;
   border-radius: 5px;
}

.toggle-container{
    display: flex;
    align-items: center;
}
.toggle-input{
    border: 1px solid white;
    border-radius: 40px;
    width: var(--switch-width);
    height: var(--switch-height);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: .25em;
    margin-left: 15px;
}

input[type = "checkbox"]{
    display: none;
}

.toggle-circle{
    height: var(--switch-height);
    width: var(--switch-height);
    background-color: #10B981;
    border-radius: 100%;
}

.toggle-input:checked ~ .toggle-circle{
    transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}


