body{
    background-color: #1C1C1C; 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
}

#container{
    width: 450px;
    height: 350px;
    background-color: #1F2937;
    padding: 40px 40px;
}

#heading{
    margin-bottom: 0;
    color: white;
}
#subheading{
    margin-top: 1px;
    margin-bottom: 1px;
    color: #4adf86;
}

#supporting{
    margin-top: 2px;
    color: #f0f0f0;
    font-size: small;
    font-weight: lighter;
}

.btn-passwords{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #10B981;
    border: none;
    border-radius: 3px;
    color: white;
}

hr{
    margin-top: 25px;
}

#password-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
#password1{
    width: 211px;
    height: 39px;
    color: #55F991;
    border-radius: 5px;
    background-color: #273549;
    display: flex;
    align-items: center;
    justify-content: center;
}

#password2{
    width: 211px;
    height: 39px;
    color: #55F991;
    border-radius: 5px;
    background-color: #273549;
    display: flex;
    align-items: center;
    justify-content: center;
}

